<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="theme" content="hugo-academic">
    <meta name="theme-color" content="primary">
	<title>{{title}}</title>

    <!-- Highlight js -->
    <link rel="stylesheet" href="{{base_url}}/_support/html/highlightjs/styles/default.css">
    <link rel="stylesheet" href="{{base_url}}/_support/html/css/highlight-commands.css">
    <script src="{{base_url}}/_support/html/highlightjs/highlight.pack.js"></script>
    <script src="{{base_url}}/_support/html/js/highlight-commands.js"></script>

    <!-- Bootstrap -->
    <link href="{{base_url}}/_support/html/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{base_url}}/_support/html/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{base_url}}/_support/html/css/square-braket-associates.css" rel="stylesheet">


  	<link href="{{base_url}}/_support/html/css/font-awesome.min.css" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" media="screen">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.4/css/academicons.min.css">
    <link rel="stylesheet" href="{{base_url}}/_support/html/css/styles.css">
    <link rel="icon" type="image/png" href="{{base_url}}/_support/html/img/icon.png">
  	<link rel="apple-touch-icon" type="image/png" href="{{base_url}}/_support/html/img/icon-192.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cRoboto:400,400italic,700%7cRoboto+Mono">

    <style>
/*        .container { max-width: 55em; } */
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


	<div class="article-header">
	<span class="article-header-caption">{{site_name}}</span>
</div>

	<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{base_url}}">
        {{site_name}}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
		{{# toc.children}}
        <li class="nav-item">
          <a href="{{base_url}}{{href}}">
            <span>{{name}}</span>
          </a>
        </li>
		{{/ toc.children}}
      
      </ul>
      

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>


<!-- Projects widget -->
<section>
<div class="container">
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
	<h1>{{page_title}}</h1>

    {{# profile}}
	<div id="profile">
		<div class="portrait" style="background-image: url('{{avatar}}');"></div>
	
		<h1>{{name}}</h1>
		<h3>{{post}}</h3>
		<p class="center-text">{{firm}}</p>
	</div>
	{{/ profile}}
  </div>
  <div class="col-xs-12 col-md-8">

	{{{content}}}

  </div>
</div>
</div>
</section>
	

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{base_url}}/_support/html/js/bootstrap.min.js"></script>

    <!-- Syntax highlighting of code blocks -->
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Prettify annotated paragraphs-->
    <script src="{{base_url}}/_support/html/js/annotated-paragraphs.js"></script>

	<footer class="site-footer">
    <p class="powered-by">

      Powered by the
      <a href="https://sourcethemes.com/academic/" target="_blank" rel="noopener">Academic theme</a> for
      <a href="https://github.com/pillar-markup/pillar" target="_blank" rel="noopener">Pillar</a>.

      <span class="pull-right" aria-hidden="true">
        <a href="#" id="back_to_top">
          <span class="button_icon">
            <i class="fa fa-chevron-up fa-2x"></i>
          </span>
        </a>
      </span>

    </p>
</footer>

  </body>
</html>
